*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Scope One', serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
   
}

#left{
    height:100%;
    width: 40%;
    position: relative;
    background-color: aliceblue;
   
}
#lnav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 30px;
}
#lnavr>a{
margin-right: 20px;
text-decoration: none;
color: black;
font-weight: 700;
font-size: 14px;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr>i{
    color:royalblue;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* center the text */
}
#textcenter>h1{
    font-size: 80px;
    font-weight: 900;
    background-image: url(https://images.unsplash.com/photo-1511512608152-b60215d0dd61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#textcenter>p{
    opacity: 0.7;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter>a{
    color: black;
    text-decoration: none;
    border-bottom:1px solid black ;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 900;
    opacity: .7;
}
#right{
    height: 100%;
    width: 60%;
    background-color: rgb(0, 141, 54);
}
#rtop{
    display: flex;
    height: 60%;
    width: 100%;
    background-color: rgb(141, 136, 0);
}
#rbottom{
    width: 100%;
    height: 40%;
    /* background-image: url(https://img.freepik.com/free-vector/young-girl-jogging-autumn-park-healthy-life_107791-14433.jpg?w=1380&t=st=1689420202~exp=1689420802~hmac=0fd509ce40f5ac55c86331481c622084e98fbe7c7599fe91711b09cad513042b); */
    background-position: center;
    background-size: cover;
    animation: changeImage 10s linear infinite ;
}
#rtopleft{
    height: 100%;
    width: 60%;
    background-color: 	#e23de2;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  
}
#rtopleft>img{
    height: 84%;
    object-fit: cover;
    transition: all ease 1s;
   

}
#rtopleft:hover img{
    scale: 1.3;
    transform: rotate(12deg);
}

#rtopright{
    height: 100%;
    width:60%;
    background-color: #B3E140;
    background-size: cover;
    background-position: center;
   


     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
   
   
}
 #rtopright>img{
    height: 99%;
    object-fit: cover;
    transition: all ease 1s;
   

}
#rtopright:hover img{
    scale: 1.3;
    transform: rotate(-12deg);
} 

@keyframes changeImage{
    0%{
        background-image: url(https://images.pexels.com/photos/3392096/pexels-photo-3392096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    25%{
        background-image: url(https://images.pexels.com/photos/2173569/pexels-photo-2173569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    50%{
        background-image: url(https://images.pexels.com/photos/4997003/pexels-photo-4997003.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    75%{
        background-image: url(https://images.pexels.com/photos/373924/pexels-photo-373924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    100%{
        background-image: url(https://images.pexels.com/photos/239518/pexels-photo-239518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
}

@media (max-width:500px){
    #main{
       flex-direction: column; 
       overflow: auto;
    }
    #main #left{
        width: 100%;
         
    }
    #main #right{
        width: 100%;
    }
    #left #lnav{
        position: absolute;
      
    }
    #textcenter>h1{
        font-size: 50px;
        font-weight: 900;
    }
    #lnav{
      
        padding: 40px 30px;
    }
 
    #rtopleft>img{
        height: 190px;
       
    
    }
    #rtopright>img{
        height: 190px;
       
    
    }
}